[tool.poetry]
name = "nasdaq-100-ticker-history"
version = "0.3.1-alpha.0"
description = "Return NASDAQ 100 ticker symbols by date."
authors = ["Jeff McCarrell <jeff@mccarrell.org>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
pyyaml = "^5.3.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
sphinx = "^3.2.1"
doc2dash = "^2.3.0"
towncrier = "^19.2.0"

[tool.towncrier]
package = "nasdaq_100_ticker_history"
filename = "docs/changelog.rst"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
